---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Linux
BinPackParameters: false
AlignConsecutiveAssignments: true
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: false
