/build/
/LargeFiles
/kernel-images
/artifacts-*
/contrib/elftoolchain/build/
/contrib/elftoolchain/build_obj/
/contrib/libbpf/build/
/non-GPL/HostIsolation/KprobeConnectHook/build/
/non-GPL/HostIsolationMapsUtil/build/
/non-GPL/TcLoader/build/
.vscode
ctags
cscope.out

# Test results and other stuff in testing/
testing/bpf-check-summary.txt
testing/*.cpio
testing/*.tar
testing/mainline-kernels
testing/results/
testing/testrunner/testrunner
testing/test_bins/bin/*
testing/init/bin/*
testing/kernels
testing/kernel_builder/kernels
testing/virtme

*.swp
