on:
  workflow_call:

jobs:
  test:
    strategy:
      # If a failure occurs, run the other arches/distros to the end. It's useful to see if it
      # occurs on other kernels as well
      fail-fast: false
      matrix:
        kernel_flavor: [ amazonlinux2, debian, fedora, kali1, kali3, kali4, kali5-7, kali8-9, mainline ]
        arch: [ x86_64, aarch64 ]
        exclude:
          - kernel_flavor: amazonlinux2
            arch: aarch64
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install packages needed for testing
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
        gcc-aarch64-linux-gnu \
        libc6-dev-arm64-cross \
        parallel \
        qemu-system-x86 \
        qemu-system-arm \
        qemu-user-static
      env:
        DEBIAN_FRONTEND: noninteractive
    - name: Build eBPF probes and userspace components
      run: make build ARCH=${{ matrix.arch }}
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.17'
    - name: Get Kernel Images
      run: make get-kernel-images IMG_FILTER=${{ matrix.kernel_flavor }}
    - name: Run tests
      run: make multi-kernel-test IMG_FILTER=${{ matrix.kernel_flavor }} ARCH=${{ matrix.arch }}
    - name: Archive test summary
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: run-summary-${{ matrix.kernel_flavor }}-${{ matrix.arch }}.txt
        path: testing/bpf-check-summary.txt
    - name: Archive individual test results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: results-${{ matrix.kernel_flavor }}-${{ matrix.arch }}
        path: testing/results
